body{
  background-color: #2f2f2f;

}
h2 {
  color: white;
  text-align: center;
}
button {
  text-align: center;
  border-radius: 2%;
  background-color: white;
}
#newpass {
  font-size: 20px;
  width: 200px;
  height: 100px;
  margin: 0;
  position: absolute;
  left: 44%;
}
#SavePass {
  font-size: 10px;
  width: 100px;
  height: 50px;
  position: absolute;
  left: 10%;
}
h1 {
  color: white;
  text-align: center;
}
#login {
  color: white;
  visibility: visible;
}
#generator {
  visibility: hidden;
}
form {
  text-align: center;
  display: grid;
  justify-content: center;
}
#newPass {
  margin-top: 15%;
  color: black;
}
#messages {
  color: white;
  position: absolute;
  z-index: 1;
  left: 100px;
}
#addPass {
  background-color: white ;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

}